:root {
    --base: #2D2D2D;
    --base-dk: #212121;
    --accent: #3762bf;
    --accent-transparent: rgba(55,98,191,0.9);
    --accent-lt: #f2f2f2;
    --accent-dk: #818181;
    --rounded-corner: 30px;
}

.top-nav {
    display:flex;
    background-color: var(--base);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.logo {
    flex-shrink: 0;
}

.nav-menu {
    font-weight: 700;
    display:flex;
    width:100%;
    gap:1rem;
    justify-content: flex-end;
    padding-right:3rem;
    align-items: center;
    
}

.nav-menu > a {
    color: var(--accent-lt);
    text-decoration: none;
    border-radius: var(--rounded-corner);
    background-color: var(--base-dk);
    padding:1rem;
}

.nav-menu > a:hover {
    color: var(--accent);
}

.description {
    padding: 0rem 1rem 0rem 1rem;
    font-size: small;
}

body {
    font-family: 'Inter', sans-serif;
}

.card {
    display: flex;
    border-radius: var(--rounded-corner);
    background: var(--base);
    flex-direction: column;
    justify-self:center;
    transition: 0.15s;
}

.card:hover {
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.25); 
}

.card:hover .thumbnail {
    box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.25); 
    opacity: 1.0;
}

.header {
    
    position: relative;
    border-radius: var(--rounded-corner);
}

.play-btn {
    font-size: 24px;
    padding-right: 1.5rem;
    color: var(--base);
    transition: 0.15s;
}

.play-btn:hover {
    color: var(--accent-lt);
}

.btn {
    font-size: 24px;
    color: var(--accent-dk);
    transition: 0.15s;
}

.btn:hover {
    color: var(--accent-lt);
}


.play {
    border-radius: var(--rounded-corner);
    background: var(--accent-transparent);
    padding:1rem;
    position: absolute;
    left: 2.5%;
    bottom: 5%;
    display: flex;
    align-items: center;
    transition: 0.15s;
}

.play:hover {
    background: var(--accent);
    
}

.play > span:nth-child(2) {
    color: var(--accent-lt);
    font-weight: 300;
    padding-right: 0.5rem;
}

.play > span:nth-child(3) {
    color: var(--accent-lt);
    font-weight: 700;
}

.thumbnail {
    border-radius: var(--rounded-corner);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25); 
    transition: 0.15s;
    opacity: 0.75;
}

.info {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.info > p:nth-child(2) {
    font-weight: regular;
    color: var(--accent-lt);
}

.info > div:nth-child(2) {
    font-weight: regular;
    color: var(--accent-lt);
}

.top-row {
    display:flex;
    align-items: center;
}

.top-row > div:first-child {
    font-weight: light;
    color: var(--accent-dk);
    width:50%;
    display:flex;
    padding-top: 0.5rem;
    justify-content:space-evenly;
}

.top-row > div:nth-child(2) {
    font-weight: light;
    color: var(--accent-dk);
    width:50%;
    display:flex;
    padding-top: 0.5rem;
    justify-content:flex-end;
    padding-right: 3rem;
    gap: 2rem;
}

.grid-container {
    display:grid;
    grid-template-rows: auto;
    row-gap: 1rem;
    column-gap: 1rem;
    padding: 1rem;
    background-color: var(--base-dk);
}

@media screen and (min-width: 550px) {
    .grid-container{grid-template-columns:repeat(2, 1fr);}
  }
  @media screen and (min-width: 768px) {
    .grid-container{grid-template-columns:repeat(3, 1fr);}
  }
  @media screen and (min-width: 1080px) {
    .grid-container{grid-template-columns:repeat(4, 1fr);}
  }